/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Set defaults */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
    &.admin-bar {
        height: calc(100% - 32px);
    }
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Reset links */
a,
a:hover,
a:focus,
a:active {
    color: inherit;
    outline: 0;
    border: 0;
}

/* Set default transition */
a,
button,
svg path,
svg line {
    transition: all 0.2s ease;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
