@import 'mixins';

.mt-10 {
    margin-top: 10px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mt-40 {
    margin-top: 40px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.mt-60 {
    margin-top: 60px !important;
}
.mb-60 {
    margin-bottom: 60px !important;
}
.mt-0 {
    margin-top: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
@include mq(576px) {
    .mt-sm-10 {
        margin-top: 10px !important;
    }
    .mb-sm-10 {
        margin-bottom: 10px !important;
    }
    .mt-sm-20 {
        margin-top: 20px !important;
    }
    .mb-sm-20 {
        margin-bottom: 20px !important;
    }
    .mt-sm-30 {
        margin-top: 30px !important;
    }
    .mb-sm-30 {
        margin-bottom: 30px !important;
    }
    .mt-sm-40 {
        margin-top: 40px !important;
    }
    .mb-sm-40 {
        margin-bottom: 40px !important;
    }
    .mt-sm-60 {
        margin-top: 60px !important;
    }
    .mb-sm-60 {
        margin-bottom: 60px !important;
    }
    .mt-sm-0 {
        margin-top: 0 !important;
    }
    .mb-sm-0 {
        margin-bottom: 0 !important;
    }
}
@include mq(768px) {
    .mt-md-10 {
        margin-top: 10px !important;
    }
    .mb-md-10 {
        margin-bottom: 10px !important;
    }
    .mt-md-20 {
        margin-top: 20px !important;
    }
    .mb-md-20 {
        margin-bottom: 20px !important;
    }
    .mt-md-30 {
        margin-top: 30px !important;
    }
    .mb-md-30 {
        margin-bottom: 30px !important;
    }
    .mt-md-40 {
        margin-top: 40px !important;
    }
    .mb-md-40 {
        margin-bottom: 40px !important;
    }
    .mt-md-60 {
        margin-top: 60px !important;
    }
    .mb-md-60 {
        margin-bottom: 60px !important;
    }
    .mt-md-0 {
        margin-top: 0 !important;
    }
    .mb-md-0 {
        margin-bottom: 0 !important;
    }
}
@include mq(992px) {
    .mt-lg-10 {
        margin-top: 10px !important;
    }
    .mb-lg-10 {
        margin-bottom: 10px !important;
    }
    .mt-lg-20 {
        margin-top: 20px !important;
    }
    .mb-lg-20 {
        margin-bottom: 20px !important;
    }
    .mt-lg-30 {
        margin-top: 30px !important;
    }
    .mb-lg-30 {
        margin-bottom: 30px !important;
    }
    .mt-lg-40 {
        margin-top: 40px !important;
    }
    .mb-lg-40 {
        margin-bottom: 40px !important;
    }
    .mt-lg-60 {
        margin-top: 60px !important;
    }
    .mb-lg-60 {
        margin-bottom: 60px !important;
    }
    .mt-lg-100 {
        margin-top: 100px !important;
    }
    .mb-lg-100 {
        margin-bottom: 100px !important;
    }
    .mt-lg-0 {
        margin-top: 0 !important;
    }
    .mb-lg-0 {
        margin-bottom: 0 !important;
    }
}
